* {
    box-sizing: border-box;
}

.container-main {
    max-width: 1280px;
    margin: 0 auto;
    text-transform: capitalize;
}

.container-footer {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

.lowercase {
    text-transform: lowercase;
}

.header-title,
.by-category__item,
.categories__subitem-name,
.categories-sorting__by-date p,
.product-card__name,
.product-card__price,
.product-cards__button,
.subscription-info__title,
.subscription-info__text {
    color: #2A254B;
    font-weight: 400;
}

.header__categories-sorting,
.categories-sorting__by-category,
.categories-sorting__by-date,
.product-card__box_button,
.social-links__list {
    display: flex;
    align-items: center;
}

.header__nav,
.footer__nav,
.footer__social-links {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    padding: 25px 0;
    align-items: baseline;
}

.header__nav-list {
    display: flex;
    align-items: baseline;
}

.header__nav_link-logo {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    color: #22202E;
    padding-right: 149px;
}

.header__nav-link {
    font-size: 16px;
    line-height: 21.79px;
    color: #726E8D;
    padding-right: 44px;
}

.header__nav-action {
    padding-right: 16px;
}

.categories__item-list {
    display: none;
}

.by-category__item {
    position: relative;
}

.by-category__item:hover .categories__item-list {
    display: block;
    position: absolute;
    top: 50px;
    left: 25px;
    width: 200px;
    background-color: #F9F9F9;
    border-radius: 10px;
    font-weight: 600;
}

.by-category__subitem:hover {
    background-color: #ebaeed;
    border-radius: 10px;
}

.by-category__item:hover {
    background-color: #ebaeed;
    border-radius: 10px;
}

.header-title {
    font-size: 36px;
    line-height: 50.4px;
    padding: 80px 0 24px;
    text-align: center;
}

.header__categories-sorting {
    justify-content: space-between;
    margin: 8px 8px 8px 24px;
}

.by-category__item {
    padding: 12px 16px 12px 24px;
}

.by-category__subitem {
    padding: 20px;
}

.categories__subitem-name {
    color: aliceblue;
    font-weight: 600;
}

.by-category__item,
.categories__subitem-name {
    font-size: 16px;
    line-height: 24px;
}

.by-category__item img {
    padding: 0px 4px 1px;
}

.categories-sorting__by-date p {
    font-size: 14px;
    padding-right: 13.5px;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 28px;
    gap: 28px 20px;
}

.product-card__name {
    font-size: 20px;
    line-height: 28px;
    padding-top: 24px;
}

.product-card__price {
    font-size: 18px;
    line-height: 27px;
    padding-top: 8px;
}

.product-cards__button {
    font-size: 16px;
    line-height: 24px;
    background-color: #F9F9F9;
    padding: 16px 32px;
    border: none;
    margin: 48px 0 40px;
    text-transform: capitalize;
}

.product-card__box_button {
    justify-content: center;
}

.subscription-img {
    display: flex;
}

.subscription-info {
    padding: 71px 49px;
}

.subscription-info__title {
    font-size: 32px;
    line-height: 39.01px;
}

.subscription-info__text {
    font-size: 16px;
    line-height: 24px;
    padding: 21px 201px 0 0;
}

.subscription-info__form {
    padding: 216px 23px 0;
}

.subscription_button {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 32px;
    background: #2A254B;
    color: #FFFFFF;
    border: none;
}

.subscription_input-area {
    width: 361px;
    height: 56px;
    border: none;
}

.footer {
    padding: 58px 72px 0 82px;
    background: #2A254B;

}

.footer__nav {
    padding-bottom: 48px;
}

.footer__nav-category {
    display: flex;
}

.nav-category_link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.categories {
    padding: 0 131px 0 100px;
}

.nav-subcategory {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.nav-subcategory_link {
    padding-top: 12px;
}

.nav-subcategory_link a {
    color: #FFFFFF;
}

.footer__social-links {
    padding: 25px 0 25px;
    border-top: 1px solid #4E4D93;
}

.social-links_copyrights {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #FFFFFF;
}

.social-links__list-link {
    padding-right: 24px;
}

.last-child {
    padding-right: 0;
}